V2.00/UFTP-V2.00-agr-dso.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by Erik Brouwer (ICT netherlands B.V.) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">    <xs:include schemaLocation="../V1.01/UFTP-V1.01-common.xsd"/>    <xs:include schemaLocation="../V1.01/UFTP-V1.01-agr-dso.xsd"/>    <!-- -->    <!-- Flex Order Status Type -->    <!-- -->    <xs:complexType name="FlexOrderISPDivisibleType">        <xs:attribute name="IsDivisible" type="xs:boolean" use="required"/>    </xs:complexType>    <!-- -->    <!-- Flex Order Type -->    <!-- -->    <xs:complexType name="X-FLEX-FlexOrderType">        <xs:complexContent>            <xs:extension base="FlexOrderType">                <xs:sequence>                    <xs:annotation>                        <xs:documentation>The ISP represents one or more Imbalance Settlement Periods and is used by Prognosis and                            Flex-related messages.                        </xs:documentation>                    </xs:annotation>                    <xs:element name="ISP" type="X-FLEX-FlexOrderISPType" maxOccurs="unbounded"/>                </xs:sequence>            </xs:extension>        </xs:complexContent>    </xs:complexType>    <!-- ISP for Flex Orders -->    <xs:complexType name="X-FLEX-FlexOrderISPType">        <xs:complexContent>            <xs:extension base="FlexOrderISPType">                <xs:attribute name="IsDivisible" type="FlexOrderISPDivisibleType" use="required">                    <xs:annotation>                        <xs:documentation>Is Order divisible.</xs:documentation>                    </xs:annotation>                </xs:attribute>            </xs:extension>        </xs:complexContent>    </xs:complexType>    <!-- ELEMENT DEFINITIONS -->    <xs:element name="X-FLEX-FlexOrder" type="X-FLEX-FlexOrderType"/></xs:schema>